.idea
node_modules
grunt/node_modules
*.mo
*.po
vendor
composer.lock
.php_cs.cache
yarn.lock
.Build/*
!.Build/ExcludeFromPackaging.php
!.Build/.php-cs-fixer.php
!.Build/.phplint.yml
!.Build/phpstan.cms11.neon
!.Build/phpstan.cms12.neon
!.Build/phpstan.cms13.neon
Documentation-GENERATED-temp
/public
.phplint.cache
