.idea
node_modules
grunt/node_modules
*.mo
*.po
vendor
composer.lock
.php-cs-fixer.cache
.Build
Documentation-GENERATED-temp
/public
.phplint.cache
.cache
composer.json.testing
var
*.map
Resources/Public/JavaScript/dist/*.css
Resources/Public/JavaScript/types
Build/extensions/*
!/Build/extensions/sitepackage