parameters:
  level: 0
  paths:
    - Classes
    - Configuration
  excludes_analyse:
    - Classes/Middleware/*
    - Configuration/RequestMiddlewares.php
    - Classes/Install/CanonicalFieldUpdate.php
    - Classes/Install/SeoTitleUpdate.php
    - Classes/Controller/AjaxController.php
    - Classes/Service/UrlService.php
    - Classes/StructuredData/BreadcrumbStructuredDataProvider.php
    - Classes/StructuredData/SiteStructuredDataProvider.php
