parameters:
  level: 0
  paths:
    - Classes
    - Configuration
  ignoreErrors:
    -
      message: '#Call to an undefined static method TYPO3\\CMS\\Backend\\Utility\\BackendUtility::getModuleUrl\(\)#'
      path: Classes/Controller/OverviewController.php
  excludes_analyse:
    - Classes/Install/CMS8
    - Classes/UserFunctions/XmlSitemap.php
    - Classes/UserFunctions/SnippetPreview.php
    - Classes/Utility/CanonicalizationUtility.php
