@import "./Variables";
@import "../../../node_modules/yoastseo/css/colors";
@import "../../../node_modules/yoastseo/css/analysis";
@import "./BackendModule/headings";
@import "./BackendModule/lists";
@import "./BackendModule/buttons";

.yoast {
	line-height: 1.6;
	letter-spacing: 0.01em;
	color: #000;

	$gutter: 32px;
	.callout-body {
		a {
			font-weight: bold;
		}
	}

	&-content {
		max-width: 700px;

		p {
			margin: 1em 0;
		}

		.yoast-money-back-guarantee {
			font-style: italic
		}
	}

	&-seo {
		&-credits {
			&__link {
				margin-right: 2em;
			}
		}

		&-academy {
			&__courses {
				margin-top: 1em;
			}

			&__item {
				margin-bottom: 20px;

				p {
					display: block;
					padding: 5px 0;
					text-align: center;
					font-weight: bold;
				}
			}
		}

		&-premium-extension {
			margin: 2em 0.5em 1.5em;
		}

		&-premium-benefits {
			margin-bottom: 30px;

			&__title {
				font-weight: 600;
			}

			&__description:before {
				content: "– "
			}
			&__image {
				margin: 40px 0;
			}
		}
	}

	&-button {

		&--extension {
			color: $color-white;
			text-transform: uppercase;
			padding-left: 0.8em;
			padding-right: 0.8em;

			& + &-activated, & + &-not-activated {
				margin-left: 0;
			}

			&-buy {
				&, &:hover {
					background-color: $color-pink-dark;
				}

				&:visited {
					color: $color-white;
				}
			}

			&-installed, &-activated, &-not-activated {
				&:hover {
					text-decoration: none;
				}
			}

			&-installed {
				margin-right: 0.2rem;

				&, &:hover {
					background-color: $color_green_medium;
				}
			}

			&-not-activated {
				&, &:hover {
					background-color: $color-error;
				}
			}

			&-activated {
				&, &:hover {
					background-color: $color_green_medium;
				}
			}

		}
	}

	&-overview {
		&-filters {
			margin-bottom: 20px;
		}
	}
}


.wpseo-score-icon {
	float: left;
	width: 12px;
	height: 12px;
	margin: 3px 10px 0 0;
	border-radius: 50%;
	background: #888;
}