@import "./Variables";


.yoast-seo {
	padding: 15px;
	background-color: $color-white;
}

.yoast-seo-snippet-header {
	padding: 10px;
	background-color: #eee;
	color: $color_headings;

	&-premium {
		float: right;

		a {
			margin-left: 5px;
			text-decoration: underline;

			i {
				margin-right: 5px;
				color: $yoast_color_headings;
			}
		}
	}
}

.yoast-seo-score-bar {
	margin-bottom: 15px;

	&--analysis {
		margin-right: 20px;
		&.yoast-seo-page {
			cursor: pointer;
		}

		svg {
			position: relative;
			top: 3px;
		}
	}
}

.yoast-seo-snippet-error {
  color: $color-error;
  padding: 10px;
  text-align: center;

  a {
	color: $color-error;
	text-decoration: underline;
  }
}

.spinner {
	width: 70px;
	margin: 50px auto;
	text-align: center;

	> div {
		display: inline-block;
		width: 18px;
		height: 18px;
		border-radius: 100%;
		background-color: $color_border;
		-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
		animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	}

	.bounce1 {
		-webkit-animation-delay: -0.32s;
		animation-delay: -0.32s;
	}

	.bounce2 {
		-webkit-animation-delay: -0.16s;
		animation-delay: -0.16s;
	}

}

@-webkit-keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
	}

	40% {
		-webkit-transform: scale(1.0);
	}
}

@keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		transform: scale(0);
		-webkit-transform: scale(0);
	}

	40% {
		transform: scale(1);
		-webkit-transform: scale(1);
	}
}

.yoast-seo-snippet-preview {
	padding: 15px;
	border: 1px solid $color_border;
	background-color: $color-white;
}

.yoast-seo-snippet-preview-styling {
	fieldset {
		legend {
			font-size: 12px !important;
			border-bottom: 0 !important;
		}

		label {
			font-size: 12px !important;
			font-weight: normal;
		}
	}
}

div.yoast-analysis {
	button {
		background-color: inherit !important;
		font-size: 12px !important;

		&:disabled {
			display: none;
		}
	}

	div:not(.bounce) {
		background-color: inherit !important;
	}

	a {
		text-decoration: underline;
	}
}

#facebookPreview {
	span.screen-reader-text {
		visibility: hidden;
	}
}