@import "../../../node_modules/sassdash/index";
@import "../../../node_modules/yoastseo/css/snippet-editor";
@import "../../../node_modules/yoastseo/css/colors";
@import "../../../node_modules/yoastseo/css/analysis";
@import "../../../node_modules/yoastseo/css/loading-dialog";
@import "../../../node_modules/yoastseo/css/tooltips";

.snippet-editor__heading {
	font-size: 15px;
}

#snippet,
.yoastPanel {
	margin-bottom: 20px;
}

.yoastPanel {
	position: relative;
	border: 1px solid $color_border;
	padding: 0 20px 15px;
	border-radius: 20px;
	background-color: #fff;
	position: relative;
	width: $snippet_width + 40;
	cursor: pointer;

	.fa {
		position: absolute;
		top: 8px;
		right: 20px;
	}
}

.yoastPanel__content {
	position: relative;
	height: 60px;
	overflow: hidden;

	&:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: linear-gradient(to bottom, transparent 0%, #fff 100%);
	}
}

.yoastPanel__content--open {
	display: block;
	height: auto;

	&:after {
		display: none;
	}
}

.assessment-results__mark-container {
	display: none;
}

.wpseoanalysis {
	padding-left: 0;
}

.snippet-editor__edit-button {
	display: none;
}

.wpseo-score-icon {
	float: left;
	width: 12px;
	height: 12px;
	margin: 3px 10px 0 0;
	border-radius: 50%;
	background: #888;
}