@import "../../../node_modules/yoastseo/css/snippet-editor";
@import "../../../node_modules/yoastseo/css/colors";
@import "../../../node_modules/yoastseo/css/analysis";
@import "../../../node_modules/yoastseo/css/loading-dialog";
@import "../../../node_modules/yoastseo/css/tooltips";

$color_border: #cccccc;
$color_headings: #000;
$color_typo3_orange: #ff8700;

.snippet-editor__edit-button, .snippet-editor__heading {
	display: none;
}

.yoastPanel {
	background-color: #fff;
	border: 1px solid $color_border;
	padding-top: 15px;
}

.snippet-editor__view-icon:hover, .snippet-editor__view-icon:focus {
	border-color: $color_typo3_orange;
}

.snippet-editor__view .snippet_container .down_arrow {
	display: none;
}

.snippet-editor__view-icon-desktop, .snippet-editor__view-icon-desktop:hover, .snippet-editor__view-icon-desktop:focus {
	background-image: url('../../Public/Icons/Desktop.svg');
}

.snippet-editor__view-icon-mobile, .snippet-editor__view-icon-mobile:hover, .snippet-editor__view-icon-mobile:focus {
	background-image: url('../../Public/Icons/Mobile.svg');
}

.snippet-editor__is-scrollable-hintwrapper {
	display: none;
}

.snippet-editor__container {
	cursor: default;
}

.snippet-editor__form {
	display: none;
}

.yoast-progressbars[value] {
	appearance: none;
	-webkit-appearance: none;

	margin-top: 2px;
	width: 100%;

	&::-webkit-progress-bar {
		background-color: $color_progress_background;
	}

	&--fallback {
		background-color: $color_progress_background;
	}
}

.yoastSeo-analysis {
	ul {
		padding-left: 0;
	}

	a {
		font-weight: bold;
	}
}