@import "../../../node_modules/yoastseo/css/snippet-editor";
@import "../../../node_modules/yoastseo/css/colors";
@import "../../../node_modules/yoastseo/css/analysis";
@import "../../../node_modules/yoastseo/css/loading-dialog";
@import "../../../node_modules/yoastseo/css/tooltips";
@import "./Variables";

.snippet-editor__edit-button, .snippet-editor__heading {
	display: none;
}

.yoastPanel {
	background-color: #fff;
	border: 1px solid $color_border;
	padding-top: 15px;
}

.snippet-editor__view-icon:hover, .snippet-editor__view-icon:focus {
	border-color: $color_buttons;
}

.snippet-editor__view .snippet_container .down_arrow {
	display: none;
}

.snippet-editor__view-icon-desktop, .snippet-editor__view-icon-desktop:hover, .snippet-editor__view-icon-desktop:focus {
	background-image: url('../../Public/Icons/Desktop.svg');
}

.snippet-editor__view-icon-mobile, .snippet-editor__view-icon-mobile:hover, .snippet-editor__view-icon-mobile:focus {
	background-image: url('../../Public/Icons/Mobile.svg');
}

.snippet-editor__is-scrollable-hintwrapper, .snippet-editor__is-scrollable-hint {
	display: none;
}

.snippet-editor__container {
	cursor: default;
	padding: 0;
}

.snippet-editor__form {
	display: none;
}

.yoast-progressbars[value] {
	appearance: none;
	-webkit-appearance: none;

	margin-top: 2px;
	width: 100%;

	&::-webkit-progress-bar {
		background-color: $color_progress_background;
	}

	&--fallback {
		background-color: $color_progress_background;
	}
}

.yoastSeo-analysis {
	ul {
		padding-left: 0;
	}

	a {
		font-weight: bold;
	}
}

.wpseo-score-icon {
	float: left;
	width: 12px;
	height: 12px;
	margin: 3px 10px 0 0;
	border-radius: 50%;
	background: #888;
}

.yoastSeo-score-bar {
	margin-top: -15px;
	margin-bottom: 15px;

	&--item {
		display: inline-block;
		margin-right: 20px;
	}
}

.snippet-editor__view {
	overflow: hidden;
}

.spinner {
	margin: 50px auto;
	width: 70px;
	text-align: center;
}

.spinner > div {
	width: 18px;
	height: 18px;
	background-color: $color_border;

	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% {
		  -webkit-transform: scale(1.0);
		  transform: scale(1.0);
	  }
}

.assessment-results  {
	padding-left: 0;
}