@import "../../../node_modules/yoastseo/css/snippet-editor";
@import "../../../node_modules/yoastseo/css/colors";
@import "../../../node_modules/yoastseo/css/analysis";
@import "../../../node_modules/yoastseo/css/loading-dialog";
@import "../../../node_modules/yoastseo/css/tooltips";

$color_border: #cccccc;
$color_headings: #000;

.snippet-editor__heading {
	font-size: 12px;
	line-height: 18px;
	padding-bottom: 13px;
	margin: 0 -20px;
	color: $color_headings;
	cursor: pointer;
}

.yoastSeo--small .snippet-editor__heading {
	cursor: auto;
}

.snippet-editor__heading-icon {
	padding-left: 20px;
}
.snippet-editor__heading-icon-eye {
	margin-bottom: 15px;
}

.snippet-editor__preview .snippet-editor__heading,
.snippet-editor__heading--active {
	border-bottom: 1px solid $color_border;
}

.snippet-editor__preview .btn {
	margin: 15px 0;
}

.yoastSeo {
	padding: 15px;
	margin-bottom: 15px;
}

#snippet,
.yoastPanel {
	margin-bottom: 5px;
}

.yoast-section {
	max-width: 100%;
}
.snippet-editor__preview {
	max-width: 100%;

	.snippet-editor__container {
		max-width: $snippet_width + 40;
	}
}

.down_arrow {
	display: none !important;
}

#snippet_preview {
	border-radius: 0;
	border: 0;
}

.yoastSeo--small .snippet-editor__preview {
	padding: 0px;
}

.yoastSeo--large .snippet-editor__view {
	padding: 15px;
	border: 1px solid $color_border;
}
.yoastSeo--small .snippet-editor__container {
	cursor: default;
}

.yoastSeo--small #snippet_preview h3, .yoastSeo--small .snippet-editor__preview button {
	display: none;
}

.yoastPanel {
	position: relative;
	border: 1px solid $color_border;
	padding: 5px 20px 0;
	border-radius: 0;
	background-color: #fff;
	position: relative;
	width: 100%;

	.fa {
		position: absolute;
		top: 16px;
		right: 20px;
	}
}

.yoastSeo--small .yoastPanel {
	padding: 15px;
}

.snippet_container {
	.title {
		white-space: nowrap;
	}

	.down_arrow {
		display: none;
	}
}

.yoastPanel__content {
	position: relative;
	height: 0px;
	overflow: hidden;

	a {
		text-decoration: underline;
	}

	a:hover {
		color: $color_ok;
	}
}

.yoastPanel__content--open {
	display: block;
	height: auto;
	margin: 10px 0 5px;

	&:after {
		display: none;
	}
}

.seoPanel .yoastPanel__title {
	&:after {
		content: ' ';
	}
}

.seoPanel .yoastPanel__focusKeyword {
	margin-left: 4px;
	font-weight: bold;
}

.assessment-results__mark-container {
	display: none;
}

.wpseoanalysis {
	padding-left: 0;
}

.wpseo-score-icon {
	float: left;
	width: 12px;
	height: 12px;
	margin: 3px 10px 0 0;
	border-radius: 50%;
	background: #888;
}

progress {
	-webkit-appearance: none;
	appearance: none;
}

.btn[aria-expanded="true"] {
	display: none;
}

.snippet-editor__view-toggle {
	display: none;
}

.snippet-editor__form {
	padding: 20px 0;
}

.yoastSeo--small .snippet-editor__form {
	display: none;
}

.spinner {
	margin: 50px auto;
	width: 70px;
	text-align: center;
}

.spinner > div {
	width: 18px;
	height: 18px;
	background-color: $color_border;

	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% {
		  -webkit-transform: scale(1.0);
		  transform: scale(1.0);
	  }
}

.form-group__focusKeyword {
	display: none;
	margin-top: 15px;
}

.form-group__focusKeyword--open {
	display: block;
}

.snippet-editor__view {
	overflow: hidden;
}