<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<div>
	<script>
        $cornerstoneFieldSelector = 'data{data.elementBaseName}';
	</script>
	<input id="{data.elementBaseName}" type="checkbox" data-formengine-input-name="data{data.elementBaseName}" value="1"
			{f:if(condition: data.databaseRow.tx_yoastseo_cornerstone, then: 'checked="checked"')}
			onclick="document.editform['data{data.elementBaseName}'].value=this.checked?(document.editform['data{data.elementBaseName}'].value|1):(document.editform['data{data.elementBaseName}'].value&0);TBE_EDITOR.fieldChanged('{data.tableName}','{data.vanillaUid}','{data.fieldName}','data{data.elementBaseName}');">

	<label class="cornerstone_label" for="{data.elementBaseName}">
		<f:format.raw><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:thisPageIsCornerstoneContent" arguments="{0: 'https://yoa.st/metabox-help-cornerstone'}" /></f:format.raw>
	</label>
	<input type="hidden" name="data{data.elementBaseName}" value="{data.databaseRow.tx_yoastseo_cornerstone}">
</div>
</html>