<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<div class="yoastSeo-premium-insights">
    <div>
        <f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:pages.fields.tx_yoastseo_insights.intro" />
    </div>
    <div data-yoast-insights></div>
    <div>
        <f:format.raw>
            <f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:pages.fields.tx_yoastseo_insights.more_information" arguments="{0: 'https://yoa.st/keyword-research-metabox'}" />
        </f:format.raw>
    </div>
</div>
</html>
