<html data-namespace-typo3-fluid="true">
	<f:if condition="{previewUrl}">
		<f:then>
			<script>
                <f:format.raw>
                var tx_yoast_seo = tx_yoast_seo || {};
                tx_yoast_seo.settings = tx_yoast_seo.settings || {};
                tx_yoast_seo.settings.preview = '{previewUrl}';
                tx_yoast_seo.settings.previewTargetId = '{previewTargetId}';
                tx_yoast_seo.settings.titlePrepend = '{titlePrepend}';
                tx_yoast_seo.settings.titleAppend = '{titleAppend}';
                tx_yoast_seo.settings.focusKeyword = '{focusKeyword}';
                tx_yoast_seo.settings.tableName = '{tableName}';
                tx_yoast_seo.settings.vanillaUid = '{vanillaUid}';
                tx_yoast_seo.settings.languageId = '{languageId}';

                var tx_yoast_scores = new Array();
                tx_yoast_scores["bad"] = "{f:translate(key: 'LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:labelBad' )}";
                tx_yoast_scores["ok"] = "{f:translate(key: 'LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:labelOk' )}";
                tx_yoast_scores["good"] = "{f:translate(key: 'LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:labelGood' )}";

                <f:if condition="{translations}">
                tx_yoast_seo.translations = {translations};
                </f:if>

                $titleTcaSelector = '{titleFieldSelector}';
                $descriptionTcaSelector = '{descriptionFieldSelector}';
                $scoreReadabilityFieldSelector = '{scoreReadabilityFieldSelector}';
                $scoreSeoFieldSelector = '{scoreSeoFieldSelector}';
                </f:format.raw>
			</script>
			<script type="text/javascript" src="https://localhost:3333/typo3conf/ext/yoast_seo/Resources/Public/JavaScript/dist/plugin.js" async></script>

			<div id="{previewTargetId}" data-yoast-snippetpreview>
				<f:render partial="Spinner" />
			</div>
		</f:then>
		<f:else>
			<f:if condition="{wrongDoktype}">
				<div class="callout callout-warning">
					<div class="media">
						<div class="media-left">
							<span class="fa-stack fa-lg callout-icon">
								<i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-times fa-stack-1x"></i>
							</span>
						</div>
						<div class="media-body">
							<div class="callout-body">
								<h4 class="callout-title"><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:wrongDoktype.title" /></h4>
								<f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:wrongDoktype.description" />
							</div>
						</div>
					</div>
				</div>
			</f:if>
		</f:else>
	</f:if>
</html>
