<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:if condition="{data.tx_yoastseo_facebook_title}">
        <meta property="og:title" content="{data.tx_yoastseo_facebook_title}">
    </f:if>

    <f:if condition="{data.tx_yoastseo_facebook_description}">
        <meta property="og:description" content="{data.tx_yoastseo_facebook_description}">
    </f:if>

    <f:for each="{openGraphImages}" as="openGraphImage" iteration="iteration">
        <f:if condition="{iteration.cycle} <= {settings.og.image.count}">
            <meta property="og:image" content="{f:uri.image(image: openGraphImage, width: settings.og.image.width, height: settings.og.image.height, absolute: 1)}">
        </f:if>
    </f:for>
</html>