<html xmlns:yoast="http://typo3.org/ns/YoastSeoForTypo3/YoastSeo/ViewHelpers" data-namespace-typo3-fluid="true">
<title><f:if condition="{settings.titlePrepend}">
    <f:then>{settings.titlePrepend} </f:then>
</f:if><f:if condition="{yoast:keyValue(obj: data, prop: '{settings.titleFieldName}')}">
        <f:then>{yoast:keyValue(obj: data, prop: '{settings.titleFieldName}')}</f:then>
        <f:else>{data.title}</f:else>
    </f:if><f:if condition="{settings.titleAppend}">
    <f:then> {settings.titleAppend}</f:then>
</f:if></title>
</html>