parameters:
  level: 0
  paths:
    - ../Classes
    - ../Configuration
  ignoreErrors:
    - '#TYPO3\\CMS\\Backend\\ViewHelpers\\ModuleLayoutViewHelper#'
  typo3:
    requestGetAttributeMapping:
        frontend.page.information: TYPO3\CMS\Frontend\Page\PageInformation