parameters:
  level: 8
  paths:
    - ../Classes
    - ../Configuration
  excludePaths:
    - ../Classes/Updates
  ignoreErrors:
    - '#TYPO3\\CMS\\Backend\\ViewHelpers\\ModuleLayoutViewHelper#'
    - '#TYPO3\\CMS\\Frontend\\Page\\PageInformation#'
    - '#frontend.page.information#'
    - '#protected method getRecordOverlay#'