<html data-namespace-typo3-fluid="true">

<div class="yoast-seo-score-bar">
    <yoast-status-icon class="yoast-seo-score-bar--analysis yoast-seo-page" result-type="readability" text="true"
                       details="true"></yoast-status-icon>
    <yoast-status-icon class="yoast-seo-score-bar--analysis yoast-seo-page" result-type="seo" text="true"
                       details="true"></yoast-status-icon>
</div>
<div class="yoast-snippet-header-label">Yoast SEO</div>
<div class="t3-grid-cell yoast-seo yoast-seo-snippet-preview-styling">
    <yoast-snippet-preview title="" description=""></yoast-snippet-preview>
</div>

</html>
