<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<div class="yoast-seo-score-bar">
    <span class="yoast-seo-score-bar--analysis yoast-seo-page" data-yoast-analysis-type="readability"></span>
    <span class="yoast-seo-score-bar--analysis yoast-seo-page" data-yoast-analysis-type="seo"></span>
</div>
<div class="yoast-seo-snippet-header">
    <f:if condition="!{premiumInstalled}">
        <div class="yoast-seo-snippet-header-premium">
            <a target="_blank" rel="noopener noreferrer" href="{premiumLink}">
                <i class="fa fa-star"></i>
                <f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:goPremium" />
            </a>
        </div>
    </f:if>
    <div class="yoast-snippet-header-label">Yoast SEO</div>
</div>

<input id="focusKeyword" style="display: none" />
<div id="{targetElementId}" class="t3-grid-cell yoast-seo yoast-seo-snippet-preview-styling" style="padding: 10px;" data-yoast-snippetpreview>
    <!-- {targetElementId} -->
    <div class="spinner">
        <div class="bounce bounce1"></div>
        <div class="bounce bounce2"></div>
        <div class="bounce bounce3"></div>
    </div>
</div>
<div data-yoast-analysis="readability" id="YoastPageHeaderAnalysisReadability" data-yoast-subtype="" class="hidden yoast-analysis"></div>
<div data-yoast-analysis="seo" id="YoastPageHeaderAnalysisSeo" data-yoast-subtype="" class="hidden yoast-analysis"></div>

</html>
