<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:spaceless><f:render partial="Title" arguments="{_all}" /></f:spaceless>
    <f:spaceless><f:render partial="Description" arguments="{_all}" /></f:spaceless>
    <f:spaceless><f:render partial="RobotInstructions" arguments="{_all}" /></f:spaceless>
    <f:spaceless><f:render partial="Canonical" arguments="{_all}" /></f:spaceless>
    <f:render partial="OpenGraph" arguments="{_all}" />
    <f:render partial="TwitterCards" arguments="{_all}" />
</html>