<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:yoast="http://typo3.org/ns/YoastSeoForTypo3/YoastSeo/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="yoast yoast-content">
	<h1>Yoast SEO<span> - <f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:dashboard" /></span></h1>
	<f:image src="EXT:yoast_seo/Resources/Public/Images/Yoast_SEO_icon_nw.png" width="100" class="img img-responsive" style="float: right;" />
	<p>
		<f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:dashboard.intro" />
	</p>

	<h2><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:dashboard.learnMore" /></h2>
	<p>
		<f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:dashboard.learnMore.description" />
	</p>

		<div class="row yoast-seo-academy__courses">
			<div class="col-xs-6 col-sm-4 yoast-seo-academy__item">
				<a href="https://yoast.com/academy/course/basic-seo-training/" target="_blank">
					<f:image src="EXT:yoast_seo/Resources/Public/Images/Basic_course_banner.png" width="400" class="img img-responsive" />
					<p><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:academy.basic_seo" /></p>
				</a>
			</div>
			<div class="col-xs-6 col-sm-4 yoast-seo-academy__item">
				<a href="https://yoast.com/academy/course/seo-copywriting-training/" class="yoast-seo-academy__link" target="_blank">
					<f:image src="EXT:yoast_seo/Resources/Public/Images/Copywriting_course_banner.png" width="400" class="img img-responsive" />
					<p><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:academy.seo-copywriting" /></p>
				</a>
			</div>
			<div class="col-xs-6 col-sm-4 yoast-seo-academy__item">
				<a href="https://yoast.com/academy/course/multilingual-seo/" class="yoast-seo-academy__link" target="_blank">
					<f:image src="EXT:yoast_seo/Resources/Public/Images/Multilingual_SEO_banner.png" width="400" class="img img-responsive" />
					<p><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:academy.multilingual" /></p>
				</a>
			</div>
			<div class="col-xs-6 col-sm-4 yoast-seo-academy__item">
				<a href="https://yoast.com/academy/course/site-structure-training/" class="yoast-seo-academy__link" target="_blank">
					<f:image src="EXT:yoast_seo/Resources/Public/Images/Site_structure_banner.png" width="400" class="img img-responsive" />
					<p><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:academy.site-structure" /></p>
				</a>
			</div>
			<div class="col-xs-6 col-sm-4 yoast-seo-academy__item">
				<a href="https://yoast.com/academy/course/structured-data-training/" class="yoast-seo-academy__link" target="_blank">
					<f:image src="EXT:yoast_seo/Resources/Public/Images/Structured_data_banner.png" width="400" class="img img-responsive" />
					<p><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:academy.structured-data" /></p>
				</a>
			</div>
			<div class="col-xs-6 col-sm-4 yoast-seo-academy__item">
				<a href="https://yoast.com/academy/course/technical-seo-1-training/" class="yoast-seo-academy__link" target="_blank">
					<f:image src="EXT:yoast_seo/Resources/Public/Images/Technical_SEO_1_banner.png" width="400" class="img img-responsive" />
					<p><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:academy.technical-seo-1" /></p>
				</a>

			</div>
		</div>

	<h2><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:dashboard.credits" /></h2>
	<p>
		<f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:dashboard.credits.description" />
	</p>

	<h2><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:dashboard.help" /></h2>
	<p>
		<f:format.raw>
			<f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:dashboard.help.description" arguments="{0: '<a target=\'_blank\' href=\'https://typo3.slack.com\'>Slack</a>'}" />
		</f:format.raw>
	</p>
</div>
</html>