<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:yoast="http://typo3.org/ns/YoastSeoForTypo3/YoastSeo/ViewHelpers" data-namespace-typo3-fluid="true">
	<h1>Yoast SEO - <f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:dashboard" /></h1>

	<p>
		<f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:dashboard.intro" />
	</p>

	<h2><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:dashboard.credits" /></h2>
	<p>
		<f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:dashboard.credits.description" />
	</p>

	<h2><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:dashboard.help" /></h2>
	<p>
		<f:format.raw>
			<f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:dashboard.help.description" arguments="{0: '<a target=\'_blank\' href=\'https://typo3.slack.com\'>Slack</a>'}" />
		</f:format.raw>
	</p>
</html>