<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:yoast="http://typo3.org/ns/YoastSeoForTypo3/YoastSeo/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="yoast yoast-content">
	<h1><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModulePremium.xlf:mod_premium_title" /><span><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModulePremium.xlf:mod_premium_subtitle" /></span></h1>
	<f:image src="EXT:yoast_seo/Resources/Public/Images/YoastSeoPremium.png" width="700" class="img img-responsive yoast-seo-premium-benefits__image" />

	<ul class="yoast-seo-premium-benefits yoast-list--usp">
		<li class="yoast-seo-premium-benefits__item">
			<span class="yoast-seo-premium-benefits__title"><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModulePremium.xlf:mod_premium_redirectmanager" /></span>
			<span class="yoast-seo-premium-benefits__description"><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModulePremium.xlf:mod_premium_redirectmanager_descr" />.</span>
		</li>
		<li class="yoast-seo-premium-benefits__item">
			<span class="yoast-seo-premium-benefits__title"><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModulePremium.xlf:mod_premium_multiple_focus_keywords" /></span>
			<span class="yoast-seo-premium-benefits__description"><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModulePremium.xlf:mod_premium_multiple_focus_keywords_descr" />.</span>
		</li>
		<li class="yoast-seo-premium-benefits__item">
			<span class="yoast-seo-premium-benefits__title"><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModulePremium.xlf:mod_premium_support" /></span>
			<span class="yoast-seo-premium-benefits__description"><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModulePremium.xlf:mod_premium_support_descr" />.</span>
		</li>
	</ul>

	<a target="_blank" href="#" class="yoast-button yoast-button--noarrow yoast-button--extension yoast-button--extension-buy"><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModulePremium.xlf:buy_now" /> &raquo;</a>
	<a target="_blank" href="#" class="yoast-link--more-info"><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModulePremium.xlf:more_information" /> &raquo;</a>
	<p><small class="yoast-money-back-guarantee"><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModulePremium.xlf:guarantee" /></small></p>
</div>
</html>