<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:yoast="http://typo3.org/ns/YoastSeoForTypo3/YoastSeo/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="yoast">
	<h1><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModulePremium.xlf:mod_premium_title" /><span><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModulePremium.xlf:mod_premium_subtitle" /></span></h1>

	<ul class="yoast-seo-premium-benefits yoast-list--usp">
		<li class="yoast-seo-premium-benefits__item">
			<span class="yoast-seo-premium-benefits__title"><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModulePremium.xlf:mod_premium_redirectmanager" /></span>
			<span class="yoast-seo-premium-benefits__description"><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModulePremium.xlf:mod_premium_redirectmanager_descr" />.</span>
		</li>
		<li class="yoast-seo-premium-benefits__item">
			<span class="yoast-seo-premium-benefits__title"><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModulePremium.xlf:mod_premium_multiple_focus_keywords" /></span>
			<span class="yoast-seo-premium-benefits__description"><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModulePremium.xlf:mod_premium_multiple_focus_keywords_descr" />.</span>
		</li>
		<li class="yoast-seo-premium-benefits__item">
			<span class="yoast-seo-premium-benefits__title"><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModulePremium.xlf:mod_premium_support" /></span>
			<span class="yoast-seo-premium-benefits__description"><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModulePremium.xlf:mod_premium_support_descr" />.</span>
		</li>
	</ul>

	<div class="yoast-button yoast-button--noarrow yoast-button--extension"><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModulePremium.xlf:not_installed" /></div>
</div>
</html>