<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:yoast="http://typo3.org/ns/YoastSeoForTypo3/YoastSeo/ViewHelpers" data-namespace-typo3-fluid="true">
	<h1>Yoast SEO<span> - <f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:update" /></span></h1>


	<h2><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:update.data" /></h2>
	<p><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:update.data.intro" />
	</p>
	<f:if condition="{yoast:backend.needConvert()}">
		<f:then>
			<f:link.action class="btn btn-default" controller="Module" action="doConvert"><f:translate key="LLL:EXT:yoast_seo/Resources/Private/Language/BackendModule.xlf:update.data.updateData" /></f:link.action>
		</f:then>
		<f:else>
			<p><strong>The data doesn't need to be converted</strong></p>
		</f:else>
	</f:if>
</html>