name: CI

on: [push, pull_request]

jobs:
  build-php:
    name: Build PHP
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      max-parallel: 6
      fail-fast: false
      matrix:
        typo3: ['8', '9', '10']
        php: ['php7.2', 'php7.3', 'php7.4']
        experimental: [false]
      include:
        typo3: '11'
        php: 'php7.4'
        experimental: true
    steps:
      - uses: actions/checkout@v1
      - name: Set up PHP Version
        run: |
          sudo update-alternatives --set php /usr/bin/${{ matrix.php }}
          php -v
      - name: Update Composer
        run: |
          sudo composer self-update
          composer --version
      - name: Install
        run: |
          composer require typo3/cms-core:^${{ matrix.typo3 }} --no-progress
          git checkout composer.json
      - name: Lint
        run: composer test:php:lint
      - name: CGL
        run: composer cgl
      - name: PHPStan
        run: php -d memory_limit=-1 vendor/bin/phpstan analyse -c phpstan.cms${{ matrix.typo3 }}.neon
